<!doctype html>
<html ng-app>
  <head>
    <link href="../bower_components/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />

    <link rel="stylesheet" href="bower_components/css/todo.css">
    <script src="../bower_components/angular/angular.min.js"></script>

  </head>
  <body>
   <div class="navbar navbar-static-top  navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">AWDT</a>
    <ul class="nav">
      <li  ><a href="index.html">Home</a></li>
      <li  class="divider-vertical"><a href="../angular.html">AngularForm</a></li>
      <li class="active" class="divider-vertical"><a href="Todo.html">AngularTodoDemo</a></li>
      <li  class="divider-vertical"><a href="../AngularBackend/index.html">AngularBackendDemo</a></li>
        <form class="navbar-search pull-left">
            <input type="text" class="search-query" placeholder="Search">
        </form>
    </ul>
  </div>
</div>
 <div  <div class="container-fluid">
    <h2>Todo</h2>
    <div ng-controller="TodoCtrl">
     <h2>Total Todos: {{totalTodos}}</h2>
     <ul class="unstyled">
         <li ng-repeat="todo in todos">
             <input type="checkbox" ng-model="todo.done" />
             <span class="done-{{todo.done}}">{{todo.text}}</span>
         </li>
     </ul>
     <form class="form-horizontal">
         <input type="text" ng-model="formTodoText" ng-model-instant />
         <button class="btn" ng-click="addTodo()"><i class="icon-plus"></i>Add</button>
     </form>
     </div>
     
    <!--
    
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
    -->
    
     <!-- Load scripts at bottoom of page -->
    <script src="../bower_components/jquery/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/js/bootstrap.min.js"></script>
    <script src="../bower_components/js/site.js"></script>
    <script src="../bower_components/js/todo.js"></script>

    
  </body>
</html>